<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Seu CEP</h1>
            <p class="lead">API aberta e totalmente grátis para consulta de CEP.</p>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <h2 class="display-5"> Portal</h2>

            <p>Acesse o link <a href="https://seucep.com.br/api/v1/ceps/" rel="nofollow" target="_blank">https://seucep.com.br/api/v1/ceps/</a>
            </p>

        </div>
    </div>
    <div class="section">
        <div class="container">
            <h2 class="display-5">Exemplo com CURL </h2>

            <p>A maneira mais simples é essa, ele já vai retornar um <code>Content-Type: application/json</code></p>
            <figure>
                <pre class="bg-light">
                    <code>

        curl https://seucep.com.br/api/v1/ceps/27185000/

        {"addresses":"asdf","state":"RJ","complement":"Rua Das Hortênsias 50, Arrozal","cep":"27185000","neighborhood":null,"city":"Piraí"}

                    </code>
                </pre>
            </figure>


        </div>
    </div>

    <div class="section">
        <div class="container">
            <h2 class="display-5">Exemplo com JS (fetch) </h2>
            <figure>
                <pre class="bg-light">
                    <code>

        const response = await fetch("https://seucep.com.br/api/v1/ceps/27185000/")
        const myJson = await response.json();
        console.log(JSON.stringify(myJson));

        {"addresses":"asdf","state":"RJ","complement":"Rua Das Hortênsias 50, Arrozal","cep":"27185000","neighborhood":null,"city":"Piraí"}

                    </code>
                </pre>
            </figure>
        </div>

    </div>


    <div class="section">
        <div class="container">
            <h2 class="display-5">Opções </h2>

            <p>Você pode formatar a saída usando o header <code>Accept: application/json; indent=4</code> para formatar
                a saída</p>

            <figure>
                <pre class="bg-light">
                    <code>

        curl https://seucep.com.br/api/v1/ceps/27185000/ --header 'accept: application/json; indent=4'

        {
            "addresses": "asdf",
            "state": "RJ",
            "complement": "Rua Das Hortênsias 50, Arrozal",
            "cep": "27185000",
            "neighborhood": null,
            "city": "Piraí"
        }
                    </code>
                </pre>
            </figure>


        </div>
    </div>


    <div class="section">
        <div class="container">
            <h2 class="display-5">Formato YAML </h2>

            <p>Para receber a saída no formato yaml basta usar <code>Accept: application/yaml</code> para formatar
                a saída</p>

            <figure>
                <pre class="bg-light">
                    <code>

        curl https://seucep.com.br/api/v1/ceps/27185000/ --header 'accept: application/yaml'

        addresses: asdf
        cep: '27185000'
        city: Piraí
        complement: Rua Das Hortênsias 50, Arrozal
        neighborhood: null
        state: RJ
                    </code>
                </pre>
            </figure>


        </div>
    </div>


    <div class="section">
        <div class="container">
            <h2 class="display-5">Formato Piped </h2>

            <p>Para receber a como um pipe basta usar <code>Accept: text/piped</code> para formatar
                a saída</p>

            <figure>
                <pre class="bg-light">
                    <code>

        curl https://seucep.com.br/api/v1/ceps/27185000/ --header 'accept: text/piped'

        addresses:asdf|state:RJ|complement:Rua Das Hortênsias 50, Arrozal|cep:27185000|neighborhood:None|city:Piraí

                    </code>
                </pre>
            </figure>


        </div>
    </div>


    <div class="section">
        <div class="container">
            <h2 class="display-5">Formato XML </h2>

            <p>Para receber a como um XML basta usar <code>Accept: application/xml</code> para formatar
                a saída</p>

            <figure>
                <pre class="bg-light">
                    <code>

        curl https://seucep.com.br/api/v1/ceps/27185000/ --header 'accept: application/xml'

<textarea rows="1" cols="300" style="border:none;" class="bg-light">

        <Address addresses="asdf" state="RJ" complement="Rua Das Hortênsias 50, Arrozal" cep="27185000"
                 neighborhood="None" city="Piraí"/>
</textarea>
                    </code>
                </pre>
            </figure>


        </div>
    </div>

</div>


<div class="section">
        <div class="container d-flex h-100 flex-column">
            <div class="flex-grow-1"></div>
            <div class="row justify-content-center">
                <div class="col-3">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick"/>
                        <input type="hidden" name="hosted_button_id" value="HYJ8E4X3KURKA"/>
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0"
                               name="submit" title="PayPal - The safer, easier way to pay online!"
                               alt="Donate with PayPal button"/>
                        <img alt="" border="0" src="https://www.paypal.com/en_BR/i/scr/pixel.gif" width="1" height="1"/>
                    </form>
                </div>
            </div>
    </div>
</div>


</body>
</html>